In [1]:
import json
import pandas as pd
f = open('py_challange_input.json',)
data = json.load(f)
for i in data['Cricket']:
  print(i)

{'formats': [{'formatName': 'T20', 'formatDayType': 'Half day match', 'regions': [{'id': 666, 'name': 'north', 'isInternational': False, 'matches': [{'id': 6038, 'startTime': 1629944520, 'team1': 'T1', 'team2': 'T2', 'venue': 'V1', 'streaming': {'liveStream': {'provider': 'north-sky', 'channel': '001'}}, 'results': {'winner': 'T2', 'points': 2, 'resultsWithheld': False}, 'httpLink': 'cric/t20/north/t1vst2/v1/6038', 'isInternational': False}, {'id': 6039, 'startTime': 1629944520, 'team1': 'T2', 'team2': 'T3', 'venue': 'V2', 'streaming': {'liveStream': {'provider': 'north-sky', 'channel': '002'}}, 'results': {'winner': 'T2', 'points': 2, 'resultsWithheld': False}, 'httpLink': 'cric/t20/north/t2vst3/v2/6039', 'isInternational': False}, {'id': 6040, 'startTime': 1629944520, 'team1': 'T3', 'team2': 'T4', 'venue': 'V3', 'streaming': {'liveStream': {'provider': 'north-sky', 'channel': '003'}}, 'results': {'winner': 'T4', 'points': 2, 'resultsWithheld': False}, 'httpLink': 'cric/t20/north/t3vst4/v3/6040', 'isInternational': False}, {'id': 6041, 'startTime': 1629944520, 'team1': 'T4', 'team2': 'T1', 'venue': 'V4', 'streaming': {'liveStream': {'provider': 'north-sky', 'channel': '004'}}, 'results': {'winner': '', 'points': 0, 'resultsWithheld': True}, 'httpLink': 'cric/t20/north/t4vst1/v4/6041', 'isInternational': False}]}, {'id': 777, 'name': 'south', 'isInternational': False, 'streamingAvailable': False, 'matches': [{'id': 7038, 'startTime': 1629944520, 'team1': 'T5', 'team2': 'T6', 'venue': 'V5', 'streaming': {'liveStream': {'provider': 'south-sky', 'channel': '101'}}, 'results': {'winner': 'T6', 'points': 2, 'resultsWithheld': False}, 'httpLink': 'cric/t20/south/t5vst6/v5/7038', 'isInternational': False}, {'id': 7039, 'startTime': 1629944520, 'team1': 'T6', 'team2': 'T7', 'venue': 'V6', 'streaming': {'liveStream': {'provider': 'south-sky', 'channel': '102'}}, 'results': {'winner': '', 'points': 0, 'resultsWithheld': True}, 'httpLink': 'cric/t20/south/t6vst7/v6/7039', 'isInternational': False}, {'id': 7040, 'startTime': 1629944520, 'team1': 'T7', 'team2': 'T8', 'venue': 'V7', 'streaming': {'liveStream': {'provider': 'south-sky', 'channel': '103'}}, 'results': {'winner': 'T8', 'points': 2, 'resultsWithheld': False}, 'httpLink': 'cric/t20/south/t7vst8/v7/7040', 'isInternational': False}, {'id': 7041, 'startTime': 1629944520, 'team1': 'T8', 'team2': 'T5', 'venue': 'V8', 'streaming': {'liveStream': {'provider': 'south-sky', 'channel': '104'}}, 'results': {'winner': 'T8', 'points': 2, 'resultsWithheld': False}, 'httpLink': 'cric/t20/south/t8vst5/v8/7041', 'isInternational': False}]}, {'id': 888, 'name': 'central', 'isInternational': False, 'streamingAvailable': False, 'matches': [{'id': 8038, 'startTime': 1629944520, 'team1': 'T10', 'team2': 'T11', 'venue': 'V10', 'streaming': {'liveStream': {'provider': 'central-sky', 'channel': '201'}}, 'results': {'winner': 'T10', 'points': 2, 'resultsWithheld': False}, 'httpLink': 'cric/t20/central/t10vst11/v10/8038', 'isInternational': False}, {'id': 8039, 'startTime': 1629944520, 'team1': 'T11', 'team2': 'T12', 'venue': 'V11', 'streaming': {'liveStream': {'provider': 'central-sky', 'channel': '202'}}, 'results': {'winner': 'T12', 'points': 2, 'resultsWithheld': False}, 'httpLink': 'cric/t20/central/t11vst12/v11/8039', 'isInternational': False}, {'id': 8040, 'startTime': 1629944520, 'team1': 'T12', 'team2': 'T13', 'venue': 'V12', 'streaming': {'liveStream': {'provider': 'central-sky', 'channel': '203'}}, 'results': {'winner': 'T12', 'points': 2, 'resultsWithheld': False}, 'httpLink': 'cric/t20/central/t12vst13/v12/8040', 'isInternational': False}, {'id': 8041, 'startTime': 1629944520, 'team1': 'T13', 'team2': 'T10', 'venue': 'V13', 'streaming': {'liveStream': {'provider': 'central-sky', 'channel': '204'}}, 'results': {'winner': 'T10', 'points': 2, 'resultsWithheld': False}, 'httpLink': 'cric/t20/central/t13vst10/v13/8041', 'isInternational': False}]}]}, {'formatName': 'ODI', 'formatDayType': 'One day match', 'regions': [{'id': 999, 'name': 'NewZealand', 'isInternational': True, 'matches': [{'id': 16038, 'startTime': 1629944520, 'team1': 'T1', 'team2': 'T2', 'venue': 'NZ-V1', 'streaming': {'liveStream': {'provider': 'nz-ez', 'channel': '001'}}, 'results': {'winner': 'T2', 'points': 4, 'resultsWithheld': False}, 'httpLink': 'cric/odi/nz/t1vst2/v1/16038', 'isInternational': True}, {'id': 16039, 'startTime': 1629944520, 'team1': 'T2', 'team2': 'T3', 'venue': 'NZ-V2', 'streaming': {'liveStream': {'provider': 'nz-ez', 'channel': '002'}}, 'results': {'winner': 'T2', 'points': 4, 'resultsWithheld': False}, 'httpLink': 'cric/odi/nz/t2vst3/v2/16039', 'isInternational': True}, {'id': 16040, 'startTime': 1629944520, 'team1': 'T3', 'team2': 'T4', 'venue': 'NZ-V3', 'streaming': {'liveStream': {'provider': 'nz-ez', 'channel': '003'}}, 'results': {'winner': 'T4', 'points': 4, 'resultsWithheld': False}, 'httpLink': 'cric/odi/nz/t3vst4/v3/16040', 'isInternational': True}, {'id': 16041, 'startTime': 1629944520, 'team1': 'T4', 'team2': 'T1', 'venue': 'NZ-V4', 'streaming': {'liveStream': {'provider': 'nz-ez', 'channel': '004'}}, 'results': {'winner': 'T1', 'points': 4, 'resultsWithheld': False}, 'httpLink': 'cric/odi/nz/t4vst1/v4/16041', 'isInternational': True}]}, {'id': 777, 'name': 'south', 'isInternational': False, 'streamingAvailable': False, 'matches': [{'id': 17038, 'startTime': 1629944520, 'team1': 'T5', 'team2': 'T6', 'venue': 'V5', 'streaming': {'liveStream': {'provider': 'south-sky', 'channel': '101'}}, 'results': {'winner': 'T5', 'points': 4, 'resultsWithheld': False}, 'httpLink': 'cric/t20/south/t5vst6/v5/17038', 'isInternational': False}, {'id': 17039, 'startTime': 1629944520, 'team1': 'T6', 'team2': 'T7', 'venue': 'V6', 'streaming': {'liveStream': {'provider': 'south-sky', 'channel': '102'}}, 'results': {'winner': 'T6', 'points': 4, 'resultsWithheld': False}, 'httpLink': 'cric/t20/south/t6vst7/v6/17039', 'isInternational': False}, {'id': 17040, 'startTime': 1629944520, 'team1': 'T7', 'team2': 'T8', 'venue': 'V7', 'streaming': {'liveStream': {'provider': 'south-sky', 'channel': '103'}}, 'results': {'winner': '', 'points': 0, 'resultsWithheld': True}, 'httpLink': 'cric/t20/south/t7vst8/v7/17040', 'isInternational': False}, {'id': 17041, 'startTime': 1629944520, 'team1': 'T8', 'team2': 'T5', 'venue': 'V8', 'streaming': {'liveStream': {'provider': 'south-sky', 'channel': '104'}}, 'results': {'winner': 'T8', 'points': 4, 'resultsWithheld': False}, 'httpLink': 'cric/t20/south/t8vst5/v8/17041', 'isInternational': False}]}, {'id': 888, 'name': 'central', 'isInternational': False, 'matches': [{'id': 18038, 'startTime': 1629944520, 'team1': 'T10', 'team2': 'T11', 'venue': 'V10', 'streaming': {'liveStream': {'provider': 'central-sky', 'channel': '201'}}, 'results': {'winner': 'T10', 'points': 4, 'resultsWithheld': False}, 'streamingAvailable': False, 'availableStreamingType': None, 'httpLink': 'cric/t20/central/t10vst11/v10/18038', 'isInternational': False}, {'id': 18039, 'startTime': 1629944520, 'team1': 'T11', 'team2': 'T12', 'venue': 'V11', 'streaming': {'liveStream': {'provider': 'central-sky', 'channel': '202'}}, 'results': {'winner': 'T12', 'points': 4, 'resultsWithheld': False}, 'streamingAvailable': False, 'availableStreamingType': None, 'httpLink': 'cric/t20/central/t11vst12/v11/18039', 'isInternational': False}, {'id': 18040, 'startTime': 1629944520, 'team1': 'T12', 'team2': 'T13', 'venue': 'V12', 'streaming': {'liveStream': {'provider': 'central-sky', 'channel': '203'}}, 'results': {'winner': 'T12', 'points': 4, 'resultsWithheld': False}, 'streamingAvailable': False, 'availableStreamingType': None, 'httpLink': 'cric/t20/central/t12vst13/v12/18040', 'isInternational': False}, {'id': 18041, 'startTime': 1629944520, 'team1': 'T13', 'team2': 'T10', 'venue': 'V13', 'streaming': {'liveStream': {'provider': 'central-sky', 'channel': '204'}}, 'results': {'winner': 'T10', 'points': 4, 'resultsWithheld': False}, 'streamingAvailable': False, 'availableStreamingType': None, 'httpLink': 'cric/t20/central/t13vst10/v13/18041', 'isInternational': False}]}]}]}

In [2]:
actual=data['Cricket']
type(actual)
p=actual[0]

In [3]:
p=p['formats']
p

[{'formatName': 'T20',
  'formatDayType': 'Half day match',
  'regions': [{'id': 666,
    'name': 'north',
    'isInternational': False,
    'matches': [{'id': 6038,
      'startTime': 1629944520,
      'team1': 'T1',
      'team2': 'T2',
      'venue': 'V1',
      'streaming': {'liveStream': {'provider': 'north-sky', 'channel': '001'}},
      'results': {'winner': 'T2', 'points': 2, 'resultsWithheld': False},
      'httpLink': 'cric/t20/north/t1vst2/v1/6038',
      'isInternational': False},
     {'id': 6039,
      'startTime': 1629944520,
      'team1': 'T2',
      'team2': 'T3',
      'venue': 'V2',
      'streaming': {'liveStream': {'provider': 'north-sky', 'channel': '002'}},
      'results': {'winner': 'T2', 'points': 2, 'resultsWithheld': False},
      'httpLink': 'cric/t20/north/t2vst3/v2/6039',
      'isInternational': False},
     {'id': 6040,
      'startTime': 1629944520,
      'team1': 'T3',
      'team2': 'T4',
      'venue': 'V3',
      'streaming': {'liveStream': {'provider': 'north-sky', 'channel': '003'}},
      'results': {'winner': 'T4', 'points': 2, 'resultsWithheld': False},
      'httpLink': 'cric/t20/north/t3vst4/v3/6040',
      'isInternational': False},
     {'id': 6041,
      'startTime': 1629944520,
      'team1': 'T4',
      'team2': 'T1',
      'venue': 'V4',
      'streaming': {'liveStream': {'provider': 'north-sky', 'channel': '004'}},
      'results': {'winner': '', 'points': 0, 'resultsWithheld': True},
      'httpLink': 'cric/t20/north/t4vst1/v4/6041',
      'isInternational': False}]},
   {'id': 777,
    'name': 'south',
    'isInternational': False,
    'streamingAvailable': False,
    'matches': [{'id': 7038,
      'startTime': 1629944520,
      'team1': 'T5',
      'team2': 'T6',
      'venue': 'V5',
      'streaming': {'liveStream': {'provider': 'south-sky', 'channel': '101'}},
      'results': {'winner': 'T6', 'points': 2, 'resultsWithheld': False},
      'httpLink': 'cric/t20/south/t5vst6/v5/7038',
      'isInternational': False},
     {'id': 7039,
      'startTime': 1629944520,
      'team1': 'T6',
      'team2': 'T7',
      'venue': 'V6',
      'streaming': {'liveStream': {'provider': 'south-sky', 'channel': '102'}},
      'results': {'winner': '', 'points': 0, 'resultsWithheld': True},
      'httpLink': 'cric/t20/south/t6vst7/v6/7039',
      'isInternational': False},
     {'id': 7040,
      'startTime': 1629944520,
      'team1': 'T7',
      'team2': 'T8',
      'venue': 'V7',
      'streaming': {'liveStream': {'provider': 'south-sky', 'channel': '103'}},
      'results': {'winner': 'T8', 'points': 2, 'resultsWithheld': False},
      'httpLink': 'cric/t20/south/t7vst8/v7/7040',
      'isInternational': False},
     {'id': 7041,
      'startTime': 1629944520,
      'team1': 'T8',
      'team2': 'T5',
      'venue': 'V8',
      'streaming': {'liveStream': {'provider': 'south-sky', 'channel': '104'}},
      'results': {'winner': 'T8', 'points': 2, 'resultsWithheld': False},
      'httpLink': 'cric/t20/south/t8vst5/v8/7041',
      'isInternational': False}]},
   {'id': 888,
    'name': 'central',
    'isInternational': False,
    'streamingAvailable': False,
    'matches': [{'id': 8038,
      'startTime': 1629944520,
      'team1': 'T10',
      'team2': 'T11',
      'venue': 'V10',
      'streaming': {'liveStream': {'provider': 'central-sky',
        'channel': '201'}},
      'results': {'winner': 'T10', 'points': 2, 'resultsWithheld': False},
      'httpLink': 'cric/t20/central/t10vst11/v10/8038',
      'isInternational': False},
     {'id': 8039,
      'startTime': 1629944520,
      'team1': 'T11',
      'team2': 'T12',
      'venue': 'V11',
      'streaming': {'liveStream': {'provider': 'central-sky',
        'channel': '202'}},
      'results': {'winner': 'T12', 'points': 2, 'resultsWithheld': False},
      'httpLink': 'cric/t20/central/t11vst12/v11/8039',
      'isInternational': False},
     {'id': 8040,
      'startTime': 1629944520,
      'team1': 'T12',
      'team2': 'T13',
      'venue': 'V12',
      'streaming': {'liveStream': {'provider': 'central-sky',
        'channel': '203'}},
      'results': {'winner': 'T12', 'points': 2, 'resultsWithheld': False},
      'httpLink': 'cric/t20/central/t12vst13/v12/8040',
      'isInternational': False},
     {'id': 8041,
      'startTime': 1629944520,
      'team1': 'T13',
      'team2': 'T10',
      'venue': 'V13',
      'streaming': {'liveStream': {'provider': 'central-sky',
        'channel': '204'}},
      'results': {'winner': 'T10', 'points': 2, 'resultsWithheld': False},
      'httpLink': 'cric/t20/central/t13vst10/v13/8041',
      'isInternational': False}]}]},
 {'formatName': 'ODI',
  'formatDayType': 'One day match',
  'regions': [{'id': 999,
    'name': 'NewZealand',
    'isInternational': True,
    'matches': [{'id': 16038,
      'startTime': 1629944520,
      'team1': 'T1',
      'team2': 'T2',
      'venue': 'NZ-V1',
      'streaming': {'liveStream': {'provider': 'nz-ez', 'channel': '001'}},
      'results': {'winner': 'T2', 'points': 4, 'resultsWithheld': False},
      'httpLink': 'cric/odi/nz/t1vst2/v1/16038',
      'isInternational': True},
     {'id': 16039,
      'startTime': 1629944520,
      'team1': 'T2',
      'team2': 'T3',
      'venue': 'NZ-V2',
      'streaming': {'liveStream': {'provider': 'nz-ez', 'channel': '002'}},
      'results': {'winner': 'T2', 'points': 4, 'resultsWithheld': False},
      'httpLink': 'cric/odi/nz/t2vst3/v2/16039',
      'isInternational': True},
     {'id': 16040,
      'startTime': 1629944520,
      'team1': 'T3',
      'team2': 'T4',
      'venue': 'NZ-V3',
      'streaming': {'liveStream': {'provider': 'nz-ez', 'channel': '003'}},
      'results': {'winner': 'T4', 'points': 4, 'resultsWithheld': False},
      'httpLink': 'cric/odi/nz/t3vst4/v3/16040',
      'isInternational': True},
     {'id': 16041,
      'startTime': 1629944520,
      'team1': 'T4',
      'team2': 'T1',
      'venue': 'NZ-V4',
      'streaming': {'liveStream': {'provider': 'nz-ez', 'channel': '004'}},
      'results': {'winner': 'T1', 'points': 4, 'resultsWithheld': False},
      'httpLink': 'cric/odi/nz/t4vst1/v4/16041',
      'isInternational': True}]},
   {'id': 777,
    'name': 'south',
    'isInternational': False,
    'streamingAvailable': False,
    'matches': [{'id': 17038,
      'startTime': 1629944520,
      'team1': 'T5',
      'team2': 'T6',
      'venue': 'V5',
      'streaming': {'liveStream': {'provider': 'south-sky', 'channel': '101'}},
      'results': {'winner': 'T5', 'points': 4, 'resultsWithheld': False},
      'httpLink': 'cric/t20/south/t5vst6/v5/17038',
      'isInternational': False},
     {'id': 17039,
      'startTime': 1629944520,
      'team1': 'T6',
      'team2': 'T7',
      'venue': 'V6',
      'streaming': {'liveStream': {'provider': 'south-sky', 'channel': '102'}},
      'results': {'winner': 'T6', 'points': 4, 'resultsWithheld': False},
      'httpLink': 'cric/t20/south/t6vst7/v6/17039',
      'isInternational': False},
     {'id': 17040,
      'startTime': 1629944520,
      'team1': 'T7',
      'team2': 'T8',
      'venue': 'V7',
      'streaming': {'liveStream': {'provider': 'south-sky', 'channel': '103'}},
      'results': {'winner': '', 'points': 0, 'resultsWithheld': True},
      'httpLink': 'cric/t20/south/t7vst8/v7/17040',
      'isInternational': False},
     {'id': 17041,
      'startTime': 1629944520,
      'team1': 'T8',
      'team2': 'T5',
      'venue': 'V8',
      'streaming': {'liveStream': {'provider': 'south-sky', 'channel': '104'}},
      'results': {'winner': 'T8', 'points': 4, 'resultsWithheld': False},
      'httpLink': 'cric/t20/south/t8vst5/v8/17041',
      'isInternational': False}]},
   {'id': 888,
    'name': 'central',
    'isInternational': False,
    'matches': [{'id': 18038,
      'startTime': 1629944520,
      'team1': 'T10',
      'team2': 'T11',
      'venue': 'V10',
      'streaming': {'liveStream': {'provider': 'central-sky',
        'channel': '201'}},
      'results': {'winner': 'T10', 'points': 4, 'resultsWithheld': False},
      'streamingAvailable': False,
      'availableStreamingType': None,
      'httpLink': 'cric/t20/central/t10vst11/v10/18038',
      'isInternational': False},
     {'id': 18039,
      'startTime': 1629944520,
      'team1': 'T11',
      'team2': 'T12',
      'venue': 'V11',
      'streaming': {'liveStream': {'provider': 'central-sky',
        'channel': '202'}},
      'results': {'winner': 'T12', 'points': 4, 'resultsWithheld': False},
      'streamingAvailable': False,
      'availableStreamingType': None,
      'httpLink': 'cric/t20/central/t11vst12/v11/18039',
      'isInternational': False},
     {'id': 18040,
      'startTime': 1629944520,
      'team1': 'T12',
      'team2': 'T13',
      'venue': 'V12',
      'streaming': {'liveStream': {'provider': 'central-sky',
        'channel': '203'}},
      'results': {'winner': 'T12', 'points': 4, 'resultsWithheld': False},
      'streamingAvailable': False,
      'availableStreamingType': None,
      'httpLink': 'cric/t20/central/t12vst13/v12/18040',
      'isInternational': False},
     {'id': 18041,
      'startTime': 1629944520,
      'team1': 'T13',
      'team2': 'T10',
      'venue': 'V13',
      'streaming': {'liveStream': {'provider': 'central-sky',
        'channel': '204'}},
      'results': {'winner': 'T10', 'points': 4, 'resultsWithheld': False},
      'streamingAvailable': False,
      'availableStreamingType': None,
      'httpLink': 'cric/t20/central/t13vst10/v13/18041',
      'isInternational': False}]}]}]

In [4]:
len(p[0])

3

In [5]:
final=[]
final.append(p[0]['regions'][0])
final.append(p[0]['regions'][1])
final.append(p[0]['regions'][2])
final.append(p[1]['regions'][0])
final.append(p[1]['regions'][1])
final.append(p[1]['regions'][2])

In [9]:
df=pd.json_normalize(final,record_path=['matches'],meta=['name'])
df.head()

,id,startTime,team1,team2,venue,httpLink,isInternational,streaming.liveStream.provider,streaming.liveStream.channel,results.winner,results.points,results.resultsWithheld,streamingAvailable,availableStreamingType,name
0,6038,1629944520,T1,T2,V1,cric/t20/north/t1vst2/v1/6038,False,north-sky,001,T2,2,False,NaN,NaN,north
1,6039,1629944520,T2,T3,V2,cric/t20/north/t2vst3/v2/6039,False,north-sky,002,T2,2,False,NaN,NaN,north
2,6040,1629944520,T3,T4,V3,cric/t20/north/t3vst4/v3/6040,False,north-sky,003,T4,2,False,NaN,NaN,north
3,6041,1629944520,T4,T1,V4,cric/t20/north/t4vst1/v4/6041,False,north-sky,004,,0,True,NaN,NaN,north
4,7038,1629944520,T5,T6,V5,cric/t20/south/t5vst6/v5/7038,False,south-sky,101,T6,2,False,NaN,NaN,south

In [10]:


df=df.drop(['results.resultsWithheld', 'streamingAvailable','availableStreamingType'], axis=1)
df.head()

,id,startTime,team1,team2,venue,httpLink,isInternational,streaming.liveStream.provider,streaming.liveStream.channel,results.winner,results.points,name
0,6038,1629944520,T1,T2,V1,cric/t20/north/t1vst2/v1/6038,False,north-sky,001,T2,2,north
1,6039,1629944520,T2,T3,V2,cric/t20/north/t2vst3/v2/6039,False,north-sky,002,T2,2,north
2,6040,1629944520,T3,T4,V3,cric/t20/north/t3vst4/v3/6040,False,north-sky,003,T4,2,north
3,6041,1629944520,T4,T1,V4,cric/t20/north/t4vst1/v4/6041,False,north-sky,004,,0,north
4,7038,1629944520,T5,T6,V5,cric/t20/south/t5vst6/v5/7038,False,south-sky,101,T6,2,south

In [11]:
from os import rename
rename_dict={'id':'match_id ', 'streaming.liveStream.provider':'liveStream_provider','streaming.liveStream.channel':'liveStream_channel','results.winner':'winner_of_the_match','results.points':'points','name':'region_name'
             }
df.rename(columns=rename_dict,inplace=True)
df.head()

,match_id,startTime,team1,team2,venue,httpLink,isInternational,liveStream_provider,liveStream_channel,winner_of_the_match,points,region_name
0,6038,1629944520,T1,T2,V1,cric/t20/north/t1vst2/v1/6038,False,north-sky,001,T2,2,north
1,6039,1629944520,T2,T3,V2,cric/t20/north/t2vst3/v2/6039,False,north-sky,002,T2,2,north
2,6040,1629944520,T3,T4,V3,cric/t20/north/t3vst4/v3/6040,False,north-sky,003,T4,2,north
3,6041,1629944520,T4,T1,V4,cric/t20/north/t4vst1/v4/6041,False,north-sky,004,,0,north
4,7038,1629944520,T5,T6,V5,cric/t20/south/t5vst6/v5/7038,False,south-sky,101,T6,2,south

In [ ]:
#How many international matches took place?
#len(df)

In [ ]:
'''pn=(df['name'].value_counts()['north'])/(len(df))
ps=(df['name'].value_counts()['south'])/(len(df))
pc=(df['name'].value_counts()['central'])/(len(df))
print('% of north matches: ',pn)
print('% of south matches: ',ps)
print('% of central matches: ',pc)'''

In [ ]:
#df[df['results.winner']==df['results.winner'].max()]

In [12]:
df2=df.to_json(orient = 'records')  
df3=json.loads(df2)
#How many international matches took place?
len(df3)

24

In [13]:
df3

[{'match_id ': 6038,
  'startTime': 1629944520,
  'team1': 'T1',
  'team2': 'T2',
  'venue': 'V1',
  'httpLink': 'cric/t20/north/t1vst2/v1/6038',
  'isInternational': False,
  'liveStream_provider': 'north-sky',
  'liveStream_channel': '001',
  'winner_of_the_match': 'T2',
  'points': 2,
  'region_name': 'north'},
 {'match_id ': 6039,
  'startTime': 1629944520,
  'team1': 'T2',
  'team2': 'T3',
  'venue': 'V2',
  'httpLink': 'cric/t20/north/t2vst3/v2/6039',
  'isInternational': False,
  'liveStream_provider': 'north-sky',
  'liveStream_channel': '002',
  'winner_of_the_match': 'T2',
  'points': 2,
  'region_name': 'north'},
 {'match_id ': 6040,
  'startTime': 1629944520,
  'team1': 'T3',
  'team2': 'T4',
  'venue': 'V3',
  'httpLink': 'cric/t20/north/t3vst4/v3/6040',
  'isInternational': False,
  'liveStream_provider': 'north-sky',
  'liveStream_channel': '003',
  'winner_of_the_match': 'T4',
  'points': 2,
  'region_name': 'north'},
 {'match_id ': 6041,
  'startTime': 1629944520,
  'team1': 'T4',
  'team2': 'T1',
  'venue': 'V4',
  'httpLink': 'cric/t20/north/t4vst1/v4/6041',
  'isInternational': False,
  'liveStream_provider': 'north-sky',
  'liveStream_channel': '004',
  'winner_of_the_match': '',
  'points': 0,
  'region_name': 'north'},
 {'match_id ': 7038,
  'startTime': 1629944520,
  'team1': 'T5',
  'team2': 'T6',
  'venue': 'V5',
  'httpLink': 'cric/t20/south/t5vst6/v5/7038',
  'isInternational': False,
  'liveStream_provider': 'south-sky',
  'liveStream_channel': '101',
  'winner_of_the_match': 'T6',
  'points': 2,
  'region_name': 'south'},
 {'match_id ': 7039,
  'startTime': 1629944520,
  'team1': 'T6',
  'team2': 'T7',
  'venue': 'V6',
  'httpLink': 'cric/t20/south/t6vst7/v6/7039',
  'isInternational': False,
  'liveStream_provider': 'south-sky',
  'liveStream_channel': '102',
  'winner_of_the_match': '',
  'points': 0,
  'region_name': 'south'},
 {'match_id ': 7040,
  'startTime': 1629944520,
  'team1': 'T7',
  'team2': 'T8',
  'venue': 'V7',
  'httpLink': 'cric/t20/south/t7vst8/v7/7040',
  'isInternational': False,
  'liveStream_provider': 'south-sky',
  'liveStream_channel': '103',
  'winner_of_the_match': 'T8',
  'points': 2,
  'region_name': 'south'},
 {'match_id ': 7041,
  'startTime': 1629944520,
  'team1': 'T8',
  'team2': 'T5',
  'venue': 'V8',
  'httpLink': 'cric/t20/south/t8vst5/v8/7041',
  'isInternational': False,
  'liveStream_provider': 'south-sky',
  'liveStream_channel': '104',
  'winner_of_the_match': 'T8',
  'points': 2,
  'region_name': 'south'},
 {'match_id ': 8038,
  'startTime': 1629944520,
  'team1': 'T10',
  'team2': 'T11',
  'venue': 'V10',
  'httpLink': 'cric/t20/central/t10vst11/v10/8038',
  'isInternational': False,
  'liveStream_provider': 'central-sky',
  'liveStream_channel': '201',
  'winner_of_the_match': 'T10',
  'points': 2,
  'region_name': 'central'},
 {'match_id ': 8039,
  'startTime': 1629944520,
  'team1': 'T11',
  'team2': 'T12',
  'venue': 'V11',
  'httpLink': 'cric/t20/central/t11vst12/v11/8039',
  'isInternational': False,
  'liveStream_provider': 'central-sky',
  'liveStream_channel': '202',
  'winner_of_the_match': 'T12',
  'points': 2,
  'region_name': 'central'},
 {'match_id ': 8040,
  'startTime': 1629944520,
  'team1': 'T12',
  'team2': 'T13',
  'venue': 'V12',
  'httpLink': 'cric/t20/central/t12vst13/v12/8040',
  'isInternational': False,
  'liveStream_provider': 'central-sky',
  'liveStream_channel': '203',
  'winner_of_the_match': 'T12',
  'points': 2,
  'region_name': 'central'},
 {'match_id ': 8041,
  'startTime': 1629944520,
  'team1': 'T13',
  'team2': 'T10',
  'venue': 'V13',
  'httpLink': 'cric/t20/central/t13vst10/v13/8041',
  'isInternational': False,
  'liveStream_provider': 'central-sky',
  'liveStream_channel': '204',
  'winner_of_the_match': 'T10',
  'points': 2,
  'region_name': 'central'},
 {'match_id ': 16038,
  'startTime': 1629944520,
  'team1': 'T1',
  'team2': 'T2',
  'venue': 'NZ-V1',
  'httpLink': 'cric/odi/nz/t1vst2/v1/16038',
  'isInternational': True,
  'liveStream_provider': 'nz-ez',
  'liveStream_channel': '001',
  'winner_of_the_match': 'T2',
  'points': 4,
  'region_name': 'NewZealand'},
 {'match_id ': 16039,
  'startTime': 1629944520,
  'team1': 'T2',
  'team2': 'T3',
  'venue': 'NZ-V2',
  'httpLink': 'cric/odi/nz/t2vst3/v2/16039',
  'isInternational': True,
  'liveStream_provider': 'nz-ez',
  'liveStream_channel': '002',
  'winner_of_the_match': 'T2',
  'points': 4,
  'region_name': 'NewZealand'},
 {'match_id ': 16040,
  'startTime': 1629944520,
  'team1': 'T3',
  'team2': 'T4',
  'venue': 'NZ-V3',
  'httpLink': 'cric/odi/nz/t3vst4/v3/16040',
  'isInternational': True,
  'liveStream_provider': 'nz-ez',
  'liveStream_channel': '003',
  'winner_of_the_match': 'T4',
  'points': 4,
  'region_name': 'NewZealand'},
 {'match_id ': 16041,
  'startTime': 1629944520,
  'team1': 'T4',
  'team2': 'T1',
  'venue': 'NZ-V4',
  'httpLink': 'cric/odi/nz/t4vst1/v4/16041',
  'isInternational': True,
  'liveStream_provider': 'nz-ez',
  'liveStream_channel': '004',
  'winner_of_the_match': 'T1',
  'points': 4,
  'region_name': 'NewZealand'},
 {'match_id ': 17038,
  'startTime': 1629944520,
  'team1': 'T5',
  'team2': 'T6',
  'venue': 'V5',
  'httpLink': 'cric/t20/south/t5vst6/v5/17038',
  'isInternational': False,
  'liveStream_provider': 'south-sky',
  'liveStream_channel': '101',
  'winner_of_the_match': 'T5',
  'points': 4,
  'region_name': 'south'},
 {'match_id ': 17039,
  'startTime': 1629944520,
  'team1': 'T6',
  'team2': 'T7',
  'venue': 'V6',
  'httpLink': 'cric/t20/south/t6vst7/v6/17039',
  'isInternational': False,
  'liveStream_provider': 'south-sky',
  'liveStream_channel': '102',
  'winner_of_the_match': 'T6',
  'points': 4,
  'region_name': 'south'},
 {'match_id ': 17040,
  'startTime': 1629944520,
  'team1': 'T7',
  'team2': 'T8',
  'venue': 'V7',
  'httpLink': 'cric/t20/south/t7vst8/v7/17040',
  'isInternational': False,
  'liveStream_provider': 'south-sky',
  'liveStream_channel': '103',
  'winner_of_the_match': '',
  'points': 0,
  'region_name': 'south'},
 {'match_id ': 17041,
  'startTime': 1629944520,
  'team1': 'T8',
  'team2': 'T5',
  'venue': 'V8',
  'httpLink': 'cric/t20/south/t8vst5/v8/17041',
  'isInternational': False,
  'liveStream_provider': 'south-sky',
  'liveStream_channel': '104',
  'winner_of_the_match': 'T8',
  'points': 4,
  'region_name': 'south'},
 {'match_id ': 18038,
  'startTime': 1629944520,
  'team1': 'T10',
  'team2': 'T11',
  'venue': 'V10',
  'httpLink': 'cric/t20/central/t10vst11/v10/18038',
  'isInternational': False,
  'liveStream_provider': 'central-sky',
  'liveStream_channel': '201',
  'winner_of_the_match': 'T10',
  'points': 4,
  'region_name': 'central'},
 {'match_id ': 18039,
  'startTime': 1629944520,
  'team1': 'T11',
  'team2': 'T12',
  'venue': 'V11',
  'httpLink': 'cric/t20/central/t11vst12/v11/18039',
  'isInternational': False,
  'liveStream_provider': 'central-sky',
  'liveStream_channel': '202',
  'winner_of_the_match': 'T12',
  'points': 4,
  'region_name': 'central'},
 {'match_id ': 18040,
  'startTime': 1629944520,
  'team1': 'T12',
  'team2': 'T13',
  'venue': 'V12',
  'httpLink': 'cric/t20/central/t12vst13/v12/18040',
  'isInternational': False,
  'liveStream_provider': 'central-sky',
  'liveStream_channel': '203',
  'winner_of_the_match': 'T12',
  'points': 4,
  'region_name': 'central'},
 {'match_id ': 18041,
  'startTime': 1629944520,
  'team1': 'T13',
  'team2': 'T10',
  'venue': 'V13',
  'httpLink': 'cric/t20/central/t13vst10/v13/18041',
  'isInternational': False,
  'liveStream_provider': 'central-sky',
  'liveStream_channel': '204',
  'winner_of_the_match': 'T10',
  'points': 4,
  'region_name': 'central'}]

In [15]:
#What are the percentage of matches played in north, south and central regions in Australia?
pn=0
ps=0
pc=0
for item in df3:
  if item['region_name']=='north':
    pn=pn+1
  elif item['region_name']=='south':
    ps=ps+1
  elif item['region_name']=='central':
    pc=pc+1

print('% of north matches: ',pn/len(df3))
print('% of south matches: ',ps/len(df3))
print('% of central matches: ',pc/len(df3))

% of north matches:  0.16666666666666666
% of south matches:  0.3333333333333333
% of central matches:  0.3333333333333333

In [16]:
#Which team has scored the most points overall?
max=0
team=''
for item in df3:
  if item['points']>max:
    team=item['winner_of_the_match']
    max=item['points']
print('Winner Team: ', team)
print('Max points: ', max)

Winner Team:  T2
Max points:  4